snakemake
seaborn
pandas
matplotlib
myvariant
statsmodels
statannot
upsetplot

# PEP Validation Packages
peppy
eido

# Optional Dependancy for Pands needed for Excel File parsing:
openpyxl
xlsxwriter # Must check why we have both

# Formatter
black