snakemake>=7.25.0
snakefmt
pandas # Data Science
pygments # Snakemake Reports
pygments # Snakemake Reports
kaleido # Snakemake Reports
plotly # Graphing
seaborn # Graphing
matplotlib # Graphing
myvariant # Graphing
statsmodels # Statistics
statannot # Graphing
upsetplot # Graphing

# PEP Validation Packages
peppy
eido

# Optional Dependancy for Pands needed for Excel File parsing:
openpyxl
xlsxwriter # Must check why we have both

# Formatter
black
snakefmt